{% extends "student_management_system/base.html" %}

{% block title %}Course List{% endblock %}

{% block content %}
<h2>Courses</h2>
<a href="{% url 'add_course' %}" class="btn btn-primary">Add Course</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Teacher</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.teacher }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
